.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition:
      transform 150ms ease,
      box-shadow 150ms ease;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
    }
  }
  
  .title {
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: bold;
  }

  .rating {
    position: absolute;
    top: var(--mantine-spacing-xs);
    right: rem(0px);
    pointer-events: none;
  }